<h1 class="text-light">Overview</h1>
<hr class="thin bg-red" />
<div class="flex-grid">
    <div class="row cells">
        <div class="cell size6 padding5">
            <div class="panel bg-grayLighter">
                <div class="heading bg-gray">
                    <span class="icon mif-meter bg-darkGray"></span>
                    <span class="title" data-role="hint" data-hint-background="bg-gray" data-hint-color="fg-white" data-hint-mode="3"
                          data-hint="Statistics|Displays general information about all of your clients.">Statistics</span>
                </div>
                <div class="content bg-grayLight fg-grayLighter">

                </div>
            </div>
        </div>
    </div>
    <div class="cell size6 padding5">
        <div class="panel bg-grayLighter">
            <div class="heading bg-red">
                <span class="icon mif-mail bg-darkRed"></span>
                <span class="title" data-role="hint" data-hint-background="bg-red" data-hint-color="fg-white" data-hint-mode="3"
                      data-hint="Events|Displays events that occurred to your clients recently.">Events</span>
            </div>
            <div class="content">
                <table class="table border bordered">
                    <thead>
                        <tr>
                            <th class="sortable-column">Client</th>
                            <th class="sortable-column">Time</th>
                            <th class="sortable-column">Event</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Patrick\@Phoenix in Austin, TX</td>
                            <td>4:32 PM 11/1/2016</td>
                            <td>Unexpected Shutdown</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>