<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lotus</title>
    <link rel='stylesheet' href='Styles/metro.css' />
    <link rel='stylesheet' href='Styles/metro-icons.css' />
    <link rel='stylesheet' href='Styles/metro-colors.css' />
    <link rel='stylesheet' href='Styles/metro-schemes.css' />
    <script src='Scripts/Lib/jquery.js'></script>
    <script src='Scripts/Lib/metro.js'></script>
    <script src='Scripts/Lib/angular.js'></script>
    <script src='Scripts/Lib/angular-cookies.js'></script>
    <script src='Scripts/Lib/angular-websocket.js'></script>
    <script src='Scripts/Bootstrapper.js'></script>
    <script src='Scripts/Lib/angular-uuid.js'></script>
    <link rel='icon' href='Images/Lotus.ico' type='image/ico' sizes='16x16'>
</head>
<body class="bg-grayLighter">
    <div class="page-content">
        <div class="align-center">
            <div class="container">
                <div class="grid">
                    <div class="row">
                        <div class="cell">
                            <h1 class="metro-title">404</h1>
                            <h3 class="header text-light">We tried looking for your page, and didn't come up with anything!</h3>
                            <button class="button" onclick="window.location.href = '/'">Take me home!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>