<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lotus</title>
    @BaseCSS@
    @BaseJS@
    @Favicon@
    @UserInfo@
    <script src="Scripts/CPanelController.js"></script>
    <script src="Scripts/PluginController.js"></script>
</head>
<body class="bg-grayLighter" ng-app="Lotus">
    @Header@
    <div class="page-content" style="position: fixed; height:100%; width:100%;" ng-controller="CPanelController">
        <div class="flex-grid no-responsive-future" style="height: 100%;">
            <div class="row" style="height: 100%">
                <div class="cell size-x200 bg-red" style="height: 100%">
                    <ul class="sidebar bg-red red">
                        <li ng-repeat="entry in sidebar" ng-click="sidebarClick(entry)" ng-class="{'active' : activeTab == entry}">
                            <a href="#">
                                <span class="{{entry.icon}} icon"></span>
                                <span class="title">{{entry.title}}</span>
                                <span class="counter">{{entry.caption()}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="cell auto-size padding20" style="overflow-y: scroll; padding-bottom: 60px;">
                    <div ng-show="activeTab.title == 'overview'">
                        <overview></overview>
                    </div>
                    <div ng-show="activeTab.title == 'clients'">
                        <all-clients></all-clients>
                    </div>
                    <div ng-show="activeTab.title == 'plugins'">
                        <plugins></plugins>
                    </div>
                    <div ng-show="activeTab.title == 'world map'">

                    </div>
                    <div ng-show="activeTab.title == 'configuration'">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>