<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lotus</title>
    @BaseCSS@
    @BaseJS@
    @Favicon@
    @UserInfo@
</head>
<body class="bg-grayLighter" ng-app="Lotus">
    @Header@
    <div class="page-content">
        <div class="align-center">
            <div class="container">
                <div class="grid">
                    <div class="row">
                        <div class="cell">
                            <h1 class="metro-title text-light">Lotus Administration</h1>
                            <h3 class="header text-light">A <span class="fg-emerald">free</span>, <span class="fg-blue">simple</span>, and <span class="fg-red">powerful</span> cloud-based remote system admin suite</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>