.white-background {
    background-color: #f7f7f7 !important;
}

.clickable {
    cursor: pointer;
}

.hover-row:hover {
    background-color: #f3f3f3;
}

.client-refresh-button {
    padding-right: 5px;
}

.panel > .heading > .icon {
    padding: 0.750rem;
}

.tabcontrol .tabs li {
    margin-right: 1px;
}

.tabcontrol .tabs {
    border-bottom: 2px #ce352c solid;
}

.client-tab-inner {
    background-color: #dcdcdc !important;
}

.tabcontrol .tabs li a {
    font: 500 0.875rem/1.1 "Segoe UI","Open Sans",sans-serif,serif;
    color: white;
    background-color: #555555;
    border-radius: 6px 6px 0px 0px;
    text-transform: initial
}

.table tfoot td, .table tfoot th, .table thead td, .table thead th {
    color: #555555;
}

[class*=" mif-"], [class^=mif-] {
    margin-right: 4px;
}

.tabcontrol .tabs li:hover a {
    background-color: #1d1d1d;
}

.cycle-button, .round-button, .square-button {
    border: 1px solid #3c3f41;
}

.plugin-toggle {
    margin: .625rem 0;
}

.plugin-list-entry {
    border: 1px #b2b2b2 solid;
    margin-top: 5px;
    padding: 5px;
}

.user-plugin-list-entry {
    border: 1px #b2b2b2 solid;
    margin-top: 5px;
    padding: 0 5px;
}

.dataTable tfoot td, .dataTable tfoot th, .dataTable thead td, .dataTable thead th {
    color: #555555;
}

.dataTable thead {
    border-bottom: 3px solid #ce352c;
}

.button.loading-cube:after, .button.loading-cube:before {
    background-color: #fff;
}

.toolbar .toolbar-button > [class*=mif-] {
    padding: 0.625rem 0;
}
